%body
  %section.main
    %header.topbar
      %nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "#"}
              %img{:src => "/assets/logo-main.png"}/
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  %span.round-icon
                    %img{:src => "assets/dashboard/profile pic.jpg"}/
                  Rebecca Young
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Account
                  %li
                    %a{:href => "#"} Settings
                  %li
                    %a{:href => "#"} Log out
          / /.nav-collapse
    %aside.left-sidebar
      .sidebar-nav
        %ul.list-unstyled
          %li.sidebar-item
            %a.sidebar-link.link-active{:href => "#"} Dashboard
          %li.sidebar-item
            %a.sidebar-link{:href => "#"} Tasks
          %li.sidebar-item
            %a.sidebar-link{:href => "/wallets"} Wallet
    .dash-content-wrapper
      .task-analytics-area.panel-body
        .analytics-box
          .task-value.d-inline-block 15
          .metric-icon.d-inline-block.pull-right
            %img{:src => "/assets/dashboard/task_icon.png"}/
          %h5 Task open
        .analytics-box
          .task-value.d-inline-block 12
          .metric-icon.d-inline-block.pull-right
            %img{:src => "/assets/dashboard/task_completed_icon.png"}/
          %h5 Task Completed
        .analytics-box
          .task-value.d-inline-block 8
          .metric-icon.d-inline-block.pull-right
            %img{:src => "/assets/dashboard/task_ongoing_icon.png"}/
          %h5 Task Ongoing
        .analytics-box
          .task-value.d-inline-block 15
          .metric-icon.d-inline-block.pull-right
            %img{:src => "/assets/dashboard/task_disputed_icon.png"}/
          %h5 Task Disputed
        .analytics-box
          .task-value.d-inline-block 170
          .metric-icon.d-inline-block.pull-right
            %img{:src => "/assets/dashboard/wallet.png"}/
          %h5 Wallet Balance
        .analytics-btn-box
          %button.btn.btn-create
            %i
              %img{:src => "assets/dashboard/create_new_task.png"}/
            Create new task
      .dash-container
        .panel
          .panel-header
            %h4.d-inline-block Recent Microtask
            .pull-right.d-inline-block.filter-box
              %span Filter by
              %select
                %option All
                %option option
          .panel-body.plr-0
            .table-responsive
              %table.table
                %thead
                  %tr
                    %th Title
                    %th Desctiption
                    %th Vodeer
                    %th Cost
                    %th End Date
                    %th Status
                %tbody
                  %tr
                    %td Design a Shirt to Build the wall
                    %td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %td Alex Martin
                    %td 15VDX
                    %td 02/15/2018
                    %td Ongoing
                  %tr
                    %td Design a Shirt to Build the wall
                    %td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %td Alex Martin
                    %td 15VDX
                    %td 02/15/2018
                    %td Ongoing
                  %tr
                    %td Design a Shirt to Build the wall
                    %td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %td Alex Martin
                    %td 15VDX
                    %td 02/15/2018
                    %td Ongoing
                  %tr
                    %td Design a Shirt to Build the wall
                    %td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %td Alex Martin
                    %td 15VDX
                    %td 02/15/2018
                    %td Ongoing
                  %tr
                    %td Design a Shirt to Build the wall
                    %td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %td Alex Martin
                    %td 15VDX
                    %td 02/15/2018
                    %td Ongoing
          .panel-footer
            .text-right
              %a.pan-link{:href => "#"} View All Task
        .panel
          .panel-header
            %h4.d-inline-block Recent Microtask
            .pull-right.d-inline-block.filter-box
              %span Filter by
              %select
                %option All
                %option option
          .panel-body.plr-0
            .table-responsive
              %table.table
                %thead
                  %tr
                    %th Title
                    %th Desctiption
                    %th Vodeer
                    %th Cost
                    %th End Date
                    %th Status
                %tbody
                  %tr
                    %td Design a Shirt to Build the wall
                    %td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %td Alex Martin
                    %td 15VDX
                    %td 02/15/2018
                    %td Ongoing
                  %tr
                    %td Design a Shirt to Build the wall
                    %td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %td Alex Martin
                    %td 15VDX
                    %td 02/15/2018
                    %td Ongoing
                  %tr
                    %td Design a Shirt to Build the wall
                    %td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %td Alex Martin
                    %td 15VDX
                    %td 02/15/2018
                    %td Ongoing
                  %tr
                    %td Design a Shirt to Build the wall
                    %td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %td Alex Martin
                    %td 15VDX
                    %td 02/15/2018
                    %td Ongoing
                  %tr
                    %td Design a Shirt to Build the wall
                    %td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %td Alex Martin
                    %td 15VDX
                    %td 02/15/2018
                    %td Ongoing
          .panel-footer
            .text-right
              %a.pan-link{:href => "#"} View All Task
