html body {
  font-family: 'Source Sans Pro', sans-serif;
}


body .right-field-block {
    padding: 0;
}

.right-field-block h2 {
  color: #030e27;
  font-size: 36px;
}


.right-field-block p {
  color: #666e80;
  font-size: 18px;
}

.main-auth-field-section,.auth-form-block,.phrase-associated-block {
  padding: 47px 155px 80px;
}

.tabs-block-wrapper {
  background: #edeef2;
  display: inline-block;
  width: 100%;
}

.tabs-block-wrapper ul.nav {
  display: table;
  margin: 0 auto;
}

.tabs-block-wrapper ul.nav li a {
  color: #030e27;
  font-size: 15px;
  padding: 10px 60px;
}

.tabs-block-wrapper ul.nav li.active a,.tabs-block-wrapper ul.nav li.active:hover a {
  background: none;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 2px #f37226 solid !important;
}

.tabs-block-wrapper ul.nav li.active a {
  color: #f37226;
  border-bottom: 2px #f37226 solid;
}

.auth-form-block {
 /* border-bottom: 1px #cbccd0 solid;*/
}

.auth-form-block .field {
  padding-bottom: 35px;
  display: inline-block;
  width: 100%;

}

.auth-form-block .field input {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
  border-radius: 0;
  border-color: #cbccd0;
  font-weight: 500;
  font-size: 18px;
}

.auth-form-block .field input:focus {
  box-shadow: none;
}


.auth-form-block .field input::-webkit-input-placeholder {
  color: #cbccd0;
}
.auth-form-block .field input::-moz-placeholder {
  color: #cbccd0;
}
.auth-form-block .field input:-ms-input-placeholder {
  color: #cbccd0;
}
.auth-form-block .field input:-moz-placeholder {
  color: #cbccd0;
}


.radio-btn input[type= "text"] {
  height: 45px;
  border-radius: 5px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #030e27;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 6px;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

input[type="radio"] + label span {
  background-color: none;
  border:2px #cbccd0 solid;
}

input[type="radio"]:checked + label span {
  background-color: #f37226;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
  float: left;
  margin-right: 10px;
}


.radio-one {
  float: left;
  padding: 0 75px 0 0;
}

.radio-one label {
  font-weight: 400;
}

.actions .btn {
  background: #f37226;
  font-size: 17px;
  border-radius: 25px;
  color: #fff;
  padding: 11px 35px;
}

.f-password a,.f-password a:hover {
    color: #030e27;
    font-size: 16px;
    text-decoration: none;
}

.create-account-link {
    margin-top: 50px;
    font-size: 16px;
}

.f-password {
    margin-top: 9px;
}

body .create-acc {
  background: none !important;
  border-color: #f37226;
  color: #f37226 !important;
}

.phrase-associated-block p{
  color: #030e27
}

.phrase-associated-block .restore-wallet {
  font-size: 17px;
  border-radius: 25px;
  color: #030e27;
  margin-top: 10px;
  padding: 12px 22px;
}

.terms-condition {
  display: inline-block;
  width: 100%;
  padding-top: 150px;
  padding-left: 155px;
}

.terms-condition p {
  font-size: 15px;
  color: #2a2a31;
}

.terms-condition p a {
  color: #f37226;
}


.forget-pass {
  color: #030e27;
  font-size: 16px;
  line-height: 40px;
}

.forget-pass:hover {
  text-decoration: none;
  color: #f37226;
}


.border-btm {
  border-bottom: 0;
}

.already-acc {
  font-size: 16px;
  margin-top: 15px;

  .login-link {
    color: #f37226;

    &:hover {
      text-decoration: none;
    }
  }
}

.error{
  color: red !important;
  font-style: normal;
}


@media screen and (max-width: 767px) {

  .main-auth-field-section, .auth-form-block, .phrase-associated-block {
    padding: 47px 45px 40px;
    display: inline-block;
    width: 100%;
  }

  .tabs-block-wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .tabs-block-wrapper ul.nav li {
    float: none;
    display: inline-block;
  }

  .tabs-block-wrapper ul.nav li a {
    padding: 10px 25px;
  }

  .actions .btn {
    width: 100%;
    margin-bottom: 15px;
  }

  .f-password {
      margin-top: 9px;
      width: 100%;
      text-align: center;
  }

  .already-acc {
      text-align: center;
      width: 100%;
  }

  .create-account-link {
      text-align: center;
  }

  .phrase-associated-block {
    padding-bottom: 10px;
  }

  .terms-condition {
    padding-top: 30px;
    padding-left: 0;
    text-align: center !important;
  }

  .terms-condition span {
      display: block;
  }


}


@media screen and (min-width: 768px) and (max-width: 1024px) {

  .main-auth-field-section, .auth-form-block, .phrase-associated-block {
    padding: 47px 45px 40px;
    display: inline-block;
    width: 100%;
  }

  .tabs-block-wrapper ul.nav li a {
    padding: 10px 33px;
  }

}


/*confirmtaion popup*/

.confirmation-field {
  color: #1e1e1e;
  text-align: center;
  .modal-body {
    padding: 40px 105px;
    p {
      font-size: 18px;
      margin: 0;
      padding: 10px 0 45px 0;
    }
    @media screen and (max-width: 767px) {
      padding: 15px;
    }
  }

  .modal-dialog {
    width: 720px;

    .modal-content {
      border-radius: 15px;
    }

    @media screen and (max-width: 767px) {
      margin: 0;
      padding: 50px 10px;
      width: 100%;
    }
  }
}

.confirm-btn {
  span {
    background: #f37226;
    font-size: 17px;
    border-radius: 25px;
    color: #fff;
    padding: 11px 35px;
  }
}


/*end confirmation popup*/