// Place all the styles related to the restore_wallets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.restore-wallet {
  h2 {
    color: #030e27;
    font-size: 36px;
  }

  p {
    color: #666e80;
    font-size: 18px;
  }

  input {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
  }

  label {
    font-size: 19px;
    font-weight: 400;
    color: #030e27;
    text-align: right;
    padding: 0;
    line-height: 40px;
  }
}


.input-block-wallet {
  display: inline-block;
  width: 100%;
  padding-top: 50px;

  .col-md-6 {
    padding: 0;
  }
}


.input-block-wallet input::-webkit-input-placeholder {
  color: #cbccd0;
  font-size: 18px;
}
.input-block-wallet input::-moz-placeholder {
  color: #cbccd0;
  font-size: 18px;
}
.input-block-wallet input:-ms-input-placeholder {
  color: #cbccd0;
  font-size: 18px;
}
.input-block-wallet input:-moz-placeholder {
  color: #cbccd0;
  font-size: 18px;
}

.restore-field-block {
  display: inline-block;
  width: 100%;

}


.restore-btn {
  margin-top: 20px;

  a {
    background: #f37226;
    font-size: 17px;
    border-radius: 25px;
    color: #fff;
    margin-left: 12px;
    padding: 11px 35px;
  }
}

.main-heading-block {
  padding-left: 13px;
}

.icon-field {
  display: inline-block;
  width: 100%;
  text-align: center;

  img {
    display: inline-block;
  }
}

.modal-dialog .grey-field {
  background: #e6e6e6;
  color: #1e1e1e;
}


.confirm-field {
  p {
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  .modal-btn {
    border: 0;
    display: inline-block;
    padding-top: 0;
    text-align: center;
    width: 100%;

    a {
      padding: 11px 30px;
      margin: 0 8px;
      width: 120px;
    }
  }

  .modal-dialog {
    width: 710px;

    .modal-body {
      padding: 40px 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .restore-field-block {
    padding-left: 0;
    padding-right: 0;
  }

  .confirm-field .modal-dialog {
    width: auto;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .restore-field-block {
    padding: 91px 60px;
  }
}