.col-md-6.col-xs-12.col-sm-12.left-wall-field
  .logo
    %h1
      %a{:href => "#"}
        = image_tag("/assets/logo.png")
  .center-image.text-center
    = image_tag("/assets/image-main.png")
    %h3
      Creating
      %b
        100+ Million Jobs
      Worlwide
      %br
      Demo cratizing  Wealth Distribution