.task-wrapper
  .fblock.top-tabs
    %ul.nav.nav-tabs#myTabs
      %li.active.task_filters{:role => "presentation", 'data-tab' => 'open', style: 'cursor: pointer'}
        %a{"aria-controls" => "home", "aria-expanded" => "false"} TASKS OPEN
      %li.task_filters{:role => "presentation", 'data-tab' => 'ongoing', style: 'cursor: pointer'}
        %a{"aria-controls" => "home", "aria-expanded" => "false"}  TASKS ONGOING
      %li.task_filters{:role => "presentation", 'data-tab' => 'completed', style: 'cursor: pointer'}
        %a#home-tab{"aria-controls" => "home", "aria-expanded" => "false"}  TASKS COMPLETED
      %li.task_filters{:role => "presentation", 'data-tab' => 'disputed', style: 'cursor: pointer'}
        %a#home-tab{"aria-controls" => "home", "aria-expanded" => "false"}  TASKS DISPUTED
    .analytics-btn-box.pull-right.task-create
      %a.btn.btn-create{:href=>"/tasks/new"}
        %i
          %img{ :src => "assets/dashboard/create_new_task.png" }/
        Create New Task


  .tab-content.clearfix.fblock
    #task-open.tab-pane.active
      = render 'vodiant_list'

= javascript_pack_tag 'javascripts/tasks/index'
