= render 'layouts/header'
.setup-account
  .container
    .thumbnail
      %h2
        Setup Account
      %p
        Enter your mnemonic or generate a new one
      .tabs-block-wrapper.acc-tab-bg
        %ul.nav.nav-tabs.nav-justified
          %li.active
            %a{ :href => "#create" } CREATE
          %li
            %a{ :href => "#import" } IMPORT
      .tab-content
        #create.tab-pane.fade.in.active.create-field
          %h4
            Your wallet is secured by a 12 word backup phrase.
          %p
            Keep your backup phrase safe! We don't have it and we can not access it.
            %br
            You'll need your backup phrase if you lose your device or delete your app.
          %p
            Write down your backup phrase and store  it in several places.

    .access-block
      %form
        .form-group
          %input#html{ :type => "checkbox" }/
          %label{ :for => "html" }
          %p
            I understand that my backup phrase is the only way i can restore my wallet if i lose access.
      .restore-btn.modal-btn.acc-btn
        %a.btn.btn-default.grey-field{ :href => "/setup_accounts/setup" }
          Continue


= render 'layouts/footer'