= render 'layouts/dashboard_header'
= render 'layouts/dashboard_side_nav'
.bg-wrapper-field
  .container
    .thumbnail
      %h2.text-center
        Task Submission
      .task-detail-block
        %h4
          Design a Shirt to Build the Wall
      .status-ongoing
        .col-md-3.col-sm-3.col-xs-6
          %span
            STATUS
          %p
            Ongoing
        .col-md-3.col-sm-3.col-xs-6
          %span
            COST
          %p
            15VDX
        .col-md-3.col-sm-3.col-xs-6
          %span
            VODEER
          %p
            Alex Martin
        .col-md-3.col-sm-3.col-xs-6
          %span
            END DATE
          %p
            12/15/2018

      .description-field.submit-desc
        %span
          DESCRIPTION
        %p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        .comment-field
          .form-group
            %textarea.form-control{:placeholder => 'write your comment here'}
      .display-center.btn-section-submit
        %span.btn.btn-default.orange-btn
          Submit
