= render 'layouts/dashboard_header'
= render 'layouts/dashboard_side_nav'
.dash-content-wrapper.wallet-wrapper-block
  .wallet-banner{ :style => "background-image:url('../assets/dashboard/color_bg.png');" }
  .container
    .my-wallet
      .wallet-header
        My Vodix Wallet
      .wallet-body
        .wal-title Wallet Balance
        .walbal-bar
          .col-md-4.col-sm-4.col-xs-6
            .walbar-icon
              %img{ :src => "assets/dashboard/vodix_balance.png" }/
            .walbal-value
              %span Vodix Balance
              %span 780VDX
          .col-md-4.col-sm-4.col-xs-6
            .walbar-icon
              %img{ :src => "assets/dashboard/ether.png" }/
            .walbal-value
              %span Ether
              %span 814.33
          .col-md-4.col-sm-4.col-xs-12
        .wallet-qr-box
          .qr-icon
            %img{ :src => "assets/dashboard/qr-code.png" }/
          .qr-info
            .info-item
              %small Wallet Address
              %strong 1SNjSPNGzowYoOMzFRJsXelqSMsEEiPPH
            .info-item
              %small Wallet Address
              %strong 1SNjSPNGzowYoOMzFRJsXelqSMsEEiPPH
      .wallet-footer
        %button.wal-action-btn
          %i
            %img{ :src => "assets/dashboard/copy.png" }/
          Copy
        %button.wal-action-btn
          %i
            %img{ :src => "assets/dashboard/download.png" }/
          Download
    .history-section
      .section-title Transaction History
      .transaction-table
        %table.table
          %tbody
            %tr
              %td
                %i
                  %img{ :src => "assets/dashboard/profile pic.jpg" }/
                Alex marthin
              %td 02/12/2018 03:15PM
              %td 15 VDX
              %td
                .red
                  Sent
                  %i
                    %img{ :src => "assets/dashboard/sent.png" }/
            %tr
              %td
                %i
                  %img{ :src => "assets/dashboard/profile pic.jpg" }/
                Alex marthin
              %td 02/12/2018 03:15PM
              %td 15 VDX
              %td
                .green
                  received
                  %i
                    %img{ :src => "assets/dashboard/received.png" }/
            %tr
              %td
                %i
                  %img{ :src => "assets/dashboard/profile pic.jpg" }/
                Alex marthin
              %td 02/12/2018 03:15PM
              %td 15 VDX
              %td
                .green
                  received
                  %i
                    %img{ :src => "assets/dashboard/received.png" }/
            %tr
              %td
                %i
                  %img{ :src => "assets/dashboard/profile pic.jpg" }/
                Alex marthin
              %td 02/12/2018 03:15PM
              %td 15 VDX
              %td
                .red
                  Sent
                  %i
                    %img{ :src => "assets/dashboard/sent.png" }/
            %tr
              %td
                %i
                  %img{ :src => "assets/dashboard/profile pic.jpg" }/
                Alex marthin
              %td 02/12/2018 03:15PM
              %td 15 VDX
              %td
                .red
                  Sent
                  %i
                    %img{ :src => "assets/dashboard/sent.png" }/
