// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.profile-wrapper {
  display: inline-block;
  width: 100%;
  padding: 35px 22px;
  position: relative;
}



.avatar-upload {
  position: relative;


  .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;

    input {
      display: none;
    }
  }
}


.avatar-preview {
  width: 142px;
  height: 142px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}


.avatar-upload .avatar-preview > div {
  background: url("/assets/user-img.png");
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  z-index: 99;
  position: relative;
}


.camera-field {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  bottom: -6px;
  text-align: center;
  overflow: hidden;
  padding: 7px 0;
}


.left-input-field {
  padding-left: 0;
  label {
    color: #aeaeae;
    font-weight: 400;
  }

  input {
    box-shadow: none;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0;

    &::-webkit-input-placeholder {
      color: #1e1e1e;
      font-size: 15px;
    }
  }

  .form-group {
    width: 50%;
  }
}

.edit-field {
  position: absolute;
  right: 50px;


}


@media screen and (max-width: 767px) {

  .left-input-field {
    .form-group {
      width: 100%;
    }
  }

  .avatar-preview {
    display: table;
    margin: 0 auto;
  }

  .profile-wrapper {

    .edit-field {
      right: 30px;
      top: 20px;

      img {
        max-width: 100% !important;
      }
    }
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .avatar-preview {
    width: 102px;
    height: 102px;
  }
}



@media screen and (min-width: 1025px) and (max-width: 1500px) {

  .left-input-field {
    padding-left: 39px;
  }
}