// Place all the styles related to the rejected_task_detail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.vodiant-reason-f {
  border-top: #f37226 1px solid;
  padding: 15px 46px;

  h4 {
    color: #f37226;
    font-size: 17px;
  }
}