%aside.left-sidebar
  .sidebar-nav
    %ul.list-unstyled
      %li.sidebar-item
        %a.sidebar-link{ :href => root_path, class: "#{params[:controller] == 'dashboard' ? 'link-active' : ''}" }
          %span.dashboard
          Dashboard
      %li.sidebar-item
        %a.sidebar-link{ :href => "/tasks", class: "#{params[:controller] == 'tasks' ? 'link-active' : ''}"  }
          %span.task
          Tasks
      - unless current_user.arbiter?
        %li.sidebar-item
          %a.sidebar-link{ :href => wallet_path(current_user.wallet), class: "#{params[:controller] == 'wallets' ? 'link-active' : ''}" }
            %span.wallet
            Wallets