%section.main
  %header.topbar
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          / %button.navbar-toggle.collapsed{ "aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button" }
          /   %span.sr-only Toggle navigation
          /   %span.icon-bar
          /   %span.icon-bar
          /   %span.icon-bar
          %a.navbar-brand{ :href => root_path }
            %img{ :src => "/assets/logo-main.png" }/
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" }
                %span.round-icon
                  %img{ :src => asset_path("dashboard/profile pic.jpg") }/
                = current_user&.username || 'Rebecca Young'
              %ul.dropdown-menu
                %li
                  %a{ :href => "#" } Profile
                %li
                  %a{ :href => destroy_user_session_path, 'data-method': 'delete' } Log out