%aside.left-sidebar
  .sidebar-nav
    %ul.list-unstyled
      %li.sidebar-item
        %a.sidebar-link.link-active{ :href => "/dashboard" }
          %span.dashboard
          Dashboard
      %li.sidebar-item
        %a.sidebar-link{ :href => "/tasks" }
          %span.task
          Tasks
      %li.sidebar-item
        %a.sidebar-link{ :href => "/wallets" }
          %span.wallet
          Wallet