%footer
  .container
    .footer-wrapper
      %ul
        %li
          © Copyright 2019 VodiX
        %li
          %a{ :href=> '#' }
            All Rights Reserved
        %li
          %a{ :href=> '#' }
            Privacy Policy
        %li
          %a{ :href=> '#' }
            Cookie Policy
