.header-wrapper
  %header
    .logo-field
      %h1
        %a{ :href => '#' }
          = image_tag("/assets/logo-main.png")
  .middle-bg-wrapper
    = image_tag "/assets/color_bg.png", class: 'img-responsive'
